<h1>Admin Categories</h1>

<%= form_for [:admin, @category] do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title %>
  <%= f.submit %>
<% end %>
<br>
<p> <%= link_to "Your page", user_path(@user) %> </p>
<% @categories.each do |category| %>
  <p><%= category.title %></p>
     <%= link_to "Delete", admin_category_path(category), method: :delete %>
<% end %>
<br>
<h3>Create a new image here</h3>
<%= form_for [:admin, @image] do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>
  <%= f.label :url %>
  <%= f.text_field :url %>
  <%= f.submit %>
<% end %>
<br>
<% @images.each do |image| %>
  <%= image.name %>
  <%= image_tag image.url %>
  <%= link_to "Delete", admin_image_path(image) %>
  <br>
<% end %>
